{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "hubbabubba", "1",
        [
         kernel,
         stdlib,
         sasl,
	 crypto,
	 mochiweb,
	 webmachine,
	 ibrowse,
	 hubbabubba
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "hubbabubba"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, ibrowse, [{incl_cond, include}]},
       {app, hubbabubba, [{incl_cond, include}]}
      ]}.

{target_dir, "hubbabubba"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/hubbabubba", "bin/hubbabubba"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
